PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=receipts_system
DB_USER=root
DB_PASSWORD=
SDK_AUTH_URL=
SDK_SUBMIT_RECEIPTS_URL=
SDK_SUBMIT_RETURN_RECEIPTS_URL=
SDK_GET_SUBMISSION_URL=
SDK_CLIENT_ID=
SDK_CLIENT_SECRET=
SDK_USERNAME=
SDK_PASSWORD=
SDK_AUTH_TOKEN_PATH=access_token
SDK_POLL_INTERVAL_MS=3000
SDK_POLL_MAX_ATTEMPTS=30
